!!! 5
//if lt IE 7
    html.no-js.ie6.oldie(lang='en')
//if IE 7
    html.no-js.ie7.oldie(lang='en')
//if IE 8
    html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
    //<![end if]
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
        title=title
        meta(name="description", content=description)
        meta(name="author", content=author)
        meta(name="viewport", content='width=device-width, initial-scale=1')

        link(rel="stylesheet", href="/css/app.css", type="text/css")

        block extras-head          

    body
        block map
        .appwrapp
          block content
        block pre-footer
        block footer
            script(src="http://code.jquery.com/jquery-1.10.1.min.js")
            script(src="/js/underscore.js")
            script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCBEL70kiUTu8ZBDOw9LU1fw0MMysZChos&sensor=false")
            script(src="/socket.io/socket.io.js")
            script(src="/js/app.js")
        block extras-footer